body {
  display: grid;
  font-family: 'Montserrat', sans-serif;
  grid-template-columns: .25fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
}
nav {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background-color: none;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  padding: 1em;
}

nav a:link {
  text-decoration: none;
  color: #B36B5D;
}

a:visited {
  color: #ADFFB8;
}

main {
  background-color: #FFAE9D;
  grid-column: 2 / span 4;
  grid-row: 1 / span 4;
  /* background-image: url("../images/main.jpg");  */
  background-size: cover;
}

main h1 {
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 1em;
  padding-top: 3em;
}
 main p {
   margin-bottom: 1em;
   padding-left: 5em;
   padding-right: 5em;
 }
.content-box {
  box-sizing: content-box;
  
}
footer {
  grid-column: 1 / span 4;
  grid-row: 4;
}

footer .cp {
  color: #B36B5D;
  
}