body {
  font-family: 'Montserrat', sans-serif;
  

}
nav {
  display: flex;
  text-align: center;
}
nav ul {
  list-style-type: none; 
  
}
nav ul li {
  padding: 1em;
  display: inline-block;
  
}

nav a:link {
  text-decoration: none;
  color: #B36B5D;
}

a:visited {
  color: #ea8959;
}

main {
  display: flex;
  flex-direction: column;
}

main h1 {
  color: white;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  padding-top: 3em;
}
 main p {
   font-size: 1.5em;
   color: white;
   margin-bottom: 1em;
   padding-left: 5em;
   padding-right: 5em;
 }
.content {
  height: 500px;
  background-image: url(../images/liana-mikah-344562-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFAE9D;
 
}

.portfolio {
  height: 500px;
  background-color: #eddb5a;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.portfolio h2 {
  text-align: center;
  padding-top: 3em;
}

.portfolio a:link {
  text-decoration: none;
}

#small {
  font-size: 0.5em;
}
footer .cp {
  color: #B36B5D;
  
}