/* body {
    background-image: url('../images/bg_pattern.jpg');
    min-height: 100vh;
    display: grid;
    grid-template: 0px 1fr 50px / 200px 1fr;
    margin: auto;
    padding: auto;
} */

header {
    display: none;
}

