body {
  display: grid;
  grid-template: .05fr 0.3fr .05fr 0.3fr 0.5fr 1fr .05fr/ 1fr 
}


.parallax {
  background-image: url("../images/bwgl.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h3 {
  font-size: 4rem;
  margin: 1rem;
}


main li, p {
  color: rgb(21, 44, 21);
  text-align: center
}

p {
  padding-left: 10rem;
  padding-right: 10rem;
}

.update {
  font-size: 0.75rem
}