.header {
    background: #B8D8D8;
    font-family: 'Josefin Slab', serif;
    height: 15vh;
    padding-top: 15px;
    text-align: center;
}

main {
    background-color: #B8D8D8;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14pt;
    
}

article {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}