body {
  display: grid;
  grid-template: .05fr .05fr .05fr .05fr 1fr .05fr .05fr/ 1fr 
}

h3 {

}

.parallax {
  /* The image used */
  background-image: url("../images/bwdp.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.prints img {
  margin: 3rem;
}