body {
  display: grid;
  grid-template: 1fr 15fr 1fr/ 1fr 
}

.prints {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.prints img {
  margin: 3rem;
}