
.container {
    background: white;
    text-align: left;
}


.read {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.to-article ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: flex-end; */
    margin-right: 7em;
}

.to-article ul li {
    margin-top: 1.5em;
}

.main-content {
    margin-left: -80px;
    /* hacky way to keep css styling from styles and get it to work */
}

.quotes p:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 15px;
    color: #ccc;
    font-size: 3em;
}

.quotes p::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 15px;
    color: #ccc;
    font-size: 3em;
}

.quotes p {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-size: 75%;
    color: rgb(65, 40, 83);
}

.quotes img {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    max-width: 300px;
}
