body {
    background: url("../images/background.jpg") center fixed;
    background-color: lightblue;
    background-size: cover;
}

main {
    color: white;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 650px) {
    main {
        height: 75vh;
        padding-top: 10vh;
    }
}