.icons {
  color: red; 
  display: inline-block; 
  font-size: 4.5em;
  }
  
img {
  max-width: 500px;
  height: 400px;
}

#slack {
  align-content: center;
  width: 200px;
  height: 60px;
}
 
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}