#programming-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



.thumbnail {
    margin:30px;
    display: inline-block;
    padding:20px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.thumbnail a {
    display: block;
    padding-bottom:10px;
    font-family: "Josefin Sans"
}

.thumbnail p {
    padding:15px;
    font-size:0.7em;
}


@media only screen and (max-width:600px) {
    #programming-projects {
        grid-template-columns: 1fr;
    }
}