.main {
  display: flex;
  flex-direction: column;
  color: #fdfffc;
  font-size: 16pt;
  padding: 50px;
  color: #353535;
  margin: 50px;
}

.main-grid {
  display: grid;
  margin: 20px auto;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  flex-direction: row;
  grid-gap: 40px;
  max-width: 1100px;
  font-size: 12pt;
}

.main-grid ul {
  text-align: center;
}

.main-grid li {
  text-align: center;
  grid-gap: 40px;
  padding: 10px;
}

.main-top {
  text-align: center;
}

.main-top > p:first-child {
  text-align: center;
  font-size: 30pt;
}
