#blog-header {
    font-size: 7em;
    font-weight: bold;
    letter-spacing: .03em;
    margin-top: -.5em;
    margin-left: .25em;
    margin-bottom: 0em
}

.articles h2 {
    font-size: 2em;
    color: darkturquoise
}

.articles h2:hover {
    text-decoration: underline;
    color:white
}

.articles {
    color: gray;
    padding: 2em 2em;
    padding-right: 20%
}

img {
    width: 25%;
    height: 25%;
}

/* adds hyperlink to title */
article h2 {

}