main {
    background-color: white;
    padding-top: 3em;
    display: grid;
    grid-gap: 3em;
}

h2, p {
    padding-left: 1em;
    padding-top: 1em;
}

article {
    margin-left: 3em;
    margin-right: 3em;
}

article > p {
    font-style: italic;
    font-size: .8em;
    margin-left: 1em;
}


article:nth-child(n+2) {
    border-top: 1px solid black; 
}

article:nth-child(even) {
    background-color: lightgrey;
}

img {
    width: 25%;
    float: left;
    padding: 1em;
}