

.wrapper {
    text-align: center;
  }
  
  .social-links {
    line-height: .5em;
    justify-items: center;
    font-family: 'Kristi', cursive;
    font-size: 2em;
  }
  
  .social-links ul {
    list-style: none;
    padding: 2%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 25%;
    overflow: auto;
  }
   
  .social-links ul li {
      list-style-type: none;
      float: left;
  }
  
  .social-links ul li a i {
    color: black;
    opacity: .5em;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
  }
  
  .social-links ul li a i {
      transition: all 0.2s ease-in-out;
  }
  .social-links ul li a i:hover {
    opacity: .5;
    transform: scale(1.8); 
    color: #E6AB00;
  }
  
  .social-links h2 {
    font-size: 3em;
    color: #E6AB00;
  }

img {
  width: 15em;
  height: auto;
  border-radius: 50%;
  justify-self: center;
  padding-bottom: 2em;
}

