

h2 {
  font-family: 'Oleo Script', cursive;
  font-size: 2em;
  text-align: center;
}


 
main {
  padding: 3em 3em;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

main section {
  text-align: center;

}
main a {
  padding: 0 1em;
}

img {
  height: 250px;
  border-radius: 50%;
}
