
body {
    color: #99A0B0;
}

h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    /* color: #99A0B0; */
    padding-top: 10rem;
    line-height: 7rem;
}


h1 > span {
    border-bottom: 0.3rem solid #99A0B0;
}

p {
    font-size: 2rem;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

p {
    text-align: center;
    display: inline;
}

#name {
    /* color: #10F0F0; */
    color: #f7d100;
}

