main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    background-color: white;

    padding-bottom: 3vw;
}

p > a:link, p > a:visited {
    color: blue;
}

p > a:hover {
    color: purple;
}

section {
    width: 60%;
    margin-top: 3vw;
}

img {
    width: 100%;
    border-radius: 10px;
}

p:after {
    content: ""; /* Makes the pseudo element work */ 
    display: block; /* Puts the pseudo element on its own line */
    margin: 0 auto; /* Centers the border */
    width: 50%; 
    padding-top: 3vw;
    border-bottom: 2px solid black;
}