@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: "'Lato'","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

h1 {
    font-family: "CutiveMonoRegular";
    letter-spacing: 0.2rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */

}

.fa {
    font-size:2rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    margin-right: 1rem;
    border-radius: 15%;
  }

  .fa-linkedin {
    background: #99A0B0;
    color: white;
  }
  

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

nav li a {
    margin-right: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #99A0B0;
    display: inline-block;
    padding: .1rem 2.1rem;
    border-left: 2px solid #909092;
}

#first-link {
    border-left: none;
}


aside {
    margin-left: auto;
    padding-top: 0.9rem;
    /* border: 1px solid black; */
}

a {
}

